<h1 class="animated fadeIn">
	{{ heroe.nombre | uppercase }} <small> ({{ heroe.aparicion | date: 'y' }}) </small>
	<img
		*ngIf="heroe.casa == 'DC'"
		src="assets/img/DC.jpg"
		class="img-fluid img_logo"
		alt=""
	/>
	<img
		*ngIf="heroe.casa == 'Marvel'"
		src="assets/img/MARVEL.jpg"
		class="img-fluid img_logo"
		alt=""
	/>
</h1>

<div class="row animated fadeIn fast">
	<div class="col-md-5 animated fadeIn">
		<img [src]="heroe.img" class="img-fluid" alt="" />
		<a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
	</div>
	<div class="col-md-7 animated fadeIn fast">
		<p>{{ heroe.bio }}</p>
	</div>
</div>
